<!-- object binding -->
<li>{{test.productname}}</li>
<li>{{test.price}}</li>

<div class="products">

    <div class="card" style="width: 18rem;">
        <img src="https://www.intex.in/cdn/shop/products/LED-WOS5007U-PDP-Slide-1.jpg?v=1652250639" class="card-img-top"
            alt="...">
        <div class="card-body">
            <h5 class="card-title">{{test.productname}}</h5>            
                <p>{{test.price}}</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
    </div>

    

   
</div>